@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: sans-serif;
  --font-mono: monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9789 0.0029 264.5421);
  --foreground: oklch(0.2535 0.1007 277.9708);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2535 0.1007 277.9708);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2535 0.1007 277.9708);
  --primary: oklch(0.2535 0.1007 277.9708);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8149 0.1663 78.4241);
  --secondary-foreground: oklch(0.2535 0.1007 277.9708);
  --muted: oklch(0.9605 0.0046 258.3248);
  --muted-foreground: oklch(0.5510 0.0234 264.3637);
  --accent: oklch(0.9417 0.0052 247.8790);
  --accent-foreground: oklch(0.2535 0.1007 277.9708);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9067 0 0);
  --ring: oklch(0.8149 0.1663 78.4241);
  --chart-1: oklch(0.2535 0.1007 277.9708);
  --chart-2: oklch(0.8149 0.1663 78.4241);
  --chart-3: oklch(0.1957 0 0);
  --chart-4: oklch(0.7668 0 0);
  --chart-5: oklch(0.5510 0.0234 264.3637);
  --sidebar: oklch(0.2535 0.1007 277.9708);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(1.0000 0 0);
  --sidebar-primary-foreground: oklch(0.2535 0.1007 277.9708);
  --sidebar-accent: oklch(0.8149 0.1663 78.4241);
  --sidebar-accent-foreground: oklch(0.2535 0.1007 277.9708);
  --sidebar-border: oklch(0.4259 0.0626 283.4217);
  --sidebar-ring: oklch(0.8149 0.1663 78.4241);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-xs: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.05);
  --shadow-sm: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.10), 0rem 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.10), 0rem 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.10), 0rem 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.25);
  --tracking-normal: normal;
}

.dark {
  --background: oklch(0.1957 0 0);
  --foreground: oklch(0.9067 0 0);
  --card: oklch(0.2850 0 0);
  --card-foreground: oklch(0.9067 0 0);
  --popover: oklch(0.2850 0 0);
  --popover-foreground: oklch(0.9067 0 0);
  --primary: oklch(0.8149 0.1663 78.4241);
  --primary-foreground: oklch(0.2535 0.1007 277.9708);
  --secondary: oklch(0.2535 0.1007 277.9708);
  --secondary-foreground: oklch(0.9067 0 0);
  --muted: oklch(0.4091 0 0);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.3485 0 0);
  --accent-foreground: oklch(0.9067 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --border: oklch(0.5243 0 0);
  --input: oklch(0.5243 0 0);
  --ring: oklch(0.8149 0.1663 78.4241);
  --chart-1: oklch(0.2535 0.1007 277.9708);
  --chart-2: oklch(0.8149 0.1663 78.4241);
  --chart-3: oklch(0.1957 0 0);
  --chart-4: oklch(0.7668 0 0);
  --chart-5: oklch(0.7058 0 0);
  --sidebar: oklch(0.2535 0.1007 277.9708);
  --sidebar-foreground: oklch(0.9067 0 0);
  --sidebar-primary: oklch(0.9067 0 0);
  --sidebar-primary-foreground: oklch(0.2535 0.1007 277.9708);
  --sidebar-accent: oklch(0.8149 0.1663 78.4241);
  --sidebar-accent-foreground: oklch(0.2535 0.1007 277.9708);
  --sidebar-border: oklch(0.4259 0.0626 283.4217);
  --sidebar-ring: oklch(0.8149 0.1663 78.4241);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.3;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.25rem;
  --letter-spacing: normal;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.15);
  --shadow-xs: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.15);
  --shadow-sm: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.30), 0rem 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.30), 0rem 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.30), 0rem 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.30), 0rem 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.30), 0rem 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0rem 0.25rem 1rem 0rem hsl(0 0% 0% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}